@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";



/* global styles */ 
/*CHANGE COLORS THEYRE TERRIBLE*/ 
:root{
    --teal: #542e27;
    --cream: #f5e9e4;
    --mustard: #d4b7b2; 
    --terra: #C35645; 
    --olive: #a2ac88; 
    --brown: #8B4513; 
    --blush: #F3C6B5; 
    font-family: proxima-nova, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 100;
    background-color: var(--cream);
    color: var(--teal); 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--teal); 
  text-decoration: inherit;
}
a:hover {
  color: var(--mustard); 
}

.logo-img{
  width: 50px;
}

.headshot-img{
  border-top-left-radius: 175px;
  border-top-right-radius: 175px; 
  border: 5px solid var(--teal); 
}
body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
  font-family: proxima-nova ,serif; 
  font-weight: 700; 
  color: var(--mustard); 
}

h2{
  color: var(--teal); 
  font-size: 1.75em; 
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--mustard); 
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--olive); 
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--cream);
}


.project-card-info{
  padding-top: 20px; 
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
}

#bio-container{
  width: 100%; 
  text-align: justify;
  background-color: var(--olive); 
}
#bio-container p {
  min-width: 300px; 
  max-width: 560px;
  align-self: center;
  margin: auto; 
} 

#resume-container{
  width: 100%;
}

#resume li {
  font-size: .9em; 
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
