@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";



/* global styles */ 
/*CHANGE COLORS THEYRE TERRIBLE*/ 
:root{
    
    --teal: #542e27;
    --cream: #f5e9e4;
    --mustard: #d4b7b2; 
    --terra: #7F564F; 
    --olive: #A98B86; 
    --brown: #33140F; 
    --neon: #ade47c; 
    width: 100%;
    min-width: 390px; 
    max-width: 1290px; 
    margin: auto;
    font-family: proxima-nova, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--cream);
    color: var(--brown); 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  font-size: 1.1em; 
  color: var(--brown); 
  text-decoration: inherit;
  transition: 0.3s ease-in;
}
a:hover {
  background-color: var(--brown); 
  color: var(--mustard); 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
  transition: 0.2s ease-in; 
}
p{
  font-family: "Montserrat", sans-serif; 
  font-weight: 300; 
}

.logo-img{
  width: 2.25em;
  height: auto; 
  transition: 0.3s ease-in;
}

.headshot-img{
  border-top-left-radius: 175px;
  border-top-right-radius: 175px; 
  border: 2px solid var(--teal); 
}
body {
  min-width: 350px; 
  margin: 0;
  display: block;
}
#portfolio-container{
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}
h1 {
  line-height: 1.2em;
  font-family: proxima-nova,serif; 
  font-weight: 100; 
  font-size: 2em;
  color: var(--teal); 
}

h2{
  color: var(--teal); 
  font-size: 1.75em; 
  text-transform: uppercase;
  margin-top: 20px;
}
h3{
  font-size: 1.5em; 
  padding: 20px 5px;
}
h4{
  font-size: 1.25em; 
  font-weight: bold; 

}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent; 
  cursor: pointer;
  box-shadow: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--cream);
}

#projects{
  background-color: var(--olive); 
  padding: 1em 2.5em; 
}
.project-container{
  padding: 1.2em !important;
}
.project-container h3 {
  padding: 2px; 
}

.modal{
  text-wrap: pretty; 
  text-align: left;
}
.modal-box{
  width: 80vw !important;
}

#modal-body p{
  padding: 16px;
  font-size: 14px;
  text-align: left;
}
.modal-container{
  text-wrap: nowrap;
}
#modal-body{
  display: flex; 
  flex-direction: column; 
  scrollbar-color: var(--terra); 
  overflow-y:scroll; 
  max-height: 70vh; 
  padding: 1.5em;
}
#modal-body img {
  max-width: 75%; 
  height: auto; 
  margin: auto; 
}
#about-header{
  max-width: 50%; 
}
#skills-section{
  display: flex; 
  flex-wrap: wrap; 
  gap: 8px;
  justify-content: start;
}
.badge{
  background-color: var(--terra); 
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); 
  border: none;
  color: var(--mustard); 
  font-family: "Montserrat", sans-serif; 
}
#about{
    background-color: var(--brown); 
    color: var(--mustard);
}
#bio-container{
  width: 100%; 
  text-align: justify;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  padding: 1em; 
}
#bio-container h2{
  padding-left: 1em;
  color: var(--mustard); 
  font-size: 1.8em;
  text-transform: uppercase;
}
#about-content-div {
  min-width: 300px; 
  max-width: 500px;
} 
#contact-div{
  color: var(--brown); 
}

#contact-div input{
  width: 60%;
  line-height: 1.5em;
  font-size: 16px;
  color: var(--brown);
}
#contact-div input:focus{
  outline: none;
}
#contact-button{
  background-color: var(--teal); 
  padding: .75em;
  color: var(--cream);
  font-weight: bold;
  font-size: 14px;

}
#resume-container{
  width: 100%;
}

#resume li {
  font-size: .9em; 
}

@media screen and (min-width: 764px){
  h1{
    font-size:3.5em; 
  }

  .logo-img{
    width: 2.5em; 
    height: auto;
  }
  nav a{
    font-size: 1.25em; 
  }

}